@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}
 
@layer base {
  * {
  }
  body {
  }
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif!important;
}

@keyframes lMovedots{
    0% {
      transform: translatex(0);
      opacity: 1;
    }
    50% {
      transform: translatex(calc(50%));
      opacity: 1;
    }
    100% {
      transform: translatex(calc(50vw - 10rem));
      opacity: 0;
    }
  }

@keyframes rMovedots{
    0% {
      transform: translatex(0);
      opacity: 1;
    }
    50% {
      transform: translatex(calc(-50%));
      opacity: 1;
    }
    100% {
      transform: translatex(calc(-50vw + 10rem));
      opacity: 0;
    }
  }

@keyframes bMovedots{
    0% {
      transform: translatey(0);
      opacity: 1;
    }
    50% {
      transform: translatey(calc(-50%));
      opacity: 1;
    }
    100% {
      transform: translatey(calc(-50vh + 10rem));
      opacity: 0;
    }
  }

@keyframes tMovedots{
    0% {
      transform: translatex(0);
      opacity: 1;
    }
    50% {
      transform: translatey(calc(50%));
      opacity: 1;
    }
    100% {
      transform: translatey(calc(50vh - 10rem));
      opacity: 0;
    }
  }

  .ldot {
    animation: lMovedots 6s linear infinite;
  }

  .rdot {
    animation: rMovedots 6s linear infinite;
  }

  .tdot {
    animation: tMovedots 6s linear infinite;
  }

  .bdot {
    animation: bMovedots 6s linear infinite;
  }

/* powerfull out of the box */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-110%);
  }
}

@layer utilities {
  .animate-slideIn {
    animation: slideIn 2s forwards;
  }
  
  .animate-slideUp {
    animation: slideUp 2s forwards;
  }
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  overflow: auto; 
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 10px;
  transition: width 0.3s ease; 
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll-left {
  animation: scroll-left 15s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 15s linear infinite;
}